*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    line-height: 1.5;
    min-height: 100%;
    display: grid;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    font-family: "Roboto", sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
  
input, button, textarea, select {
    font: inherit;
}
  
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

header {
    background-color: #FFF;
    grid-area: header;
    filter: drop-shadow(0px 0px 5px hsl(0deg 0% 0% / 0.38));
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sidebar {
    background-color: #1992D4;
    grid-area: sidebar;
    color: #FFF;
    padding: 2rem;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 4rem;
}

.sidebar img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.sidebar .logo .logo-icon {
    width: 40px;
}

.sidebar ul {
    font-size: 1.2rem;
    font-weight: 500;
    display: grid;
    gap: 1rem;
}

.sidebar li, .sidebar .logo {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1rem;
}

.sidebar .nav-icon {
    width: 25px;
}

main {
    background-color: #E2E8F0;
    grid-area: main;
}